.container {
    z-index: 200;
    grid-area: player;

    @mixin light {
        background: color-mix(in srgb, darken(var(--theme-colors-background), 5%) var(--app-opacity), transparent);
    }

    @mixin dark {
        background: color-mix(in srgb, darken(var(--theme-colors-background), 10%) var(--app-opacity), transparent);
    }

    transition: background 0.5s;
}

.open-drawer {
    &:hover {
        background: darken(var(--theme-colors-background), 20%);
    }
}
